<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} - %-5p [%c] %m%n"/>
		</Console>
		<RollingRandomAccessFile name="File" fileName="/opt/tomcat/logs/stock-tracker.log" filePattern="/opt/tomcat/logs/archive/stock-tracker-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} - %-5p [%c] %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="fr.cph.stock" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="fr.cph.stock.dao" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.quartz.core" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.apache.ibatis" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncRoot level="debug">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
