<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} %-5p [%c{1}] %m%n"/>
		</Console>
		<RollingRandomAccessFile name="File" fileName="/opt/tomcat/logs/stock-tracker.log" filePattern="/opt/tomcat/logs/archive/stock-tracker-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss}{America/Chicago} %-5p [%c{1}] %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="fr.cph.stock" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="fr.cph.stock.repository" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.quartz.core" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.mybatis.spring" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.springframework.core.env" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.springframework.jndi" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.springframework.web.servlet" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.springframework.beans.factory.support" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="org.springframework.jdbc.datasource" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncLogger name="com.mchange.v2.c3p0" level="info" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncLogger>
		<AsyncRoot level="debug">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
